* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

:root {
    /* Color styles */
    --header: rgba(255, 105, 0, 1);
    --footer: rgba(26, 26, 26, 1);
    --sostenabilty: rgba(0, 128, 0, 1);
    --discount: rgba(255, 0, 0, 1);
    --bg-white: rgba(255, 255, 255, 1);
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}
i{
    padding-right: 10px; ;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.flex-left {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.utente{
    color: white;
    padding: 15px ;
}
/* text */
h4 {
    color: lightgray;
    font-size: smaller;
}

h2{
    font-size: medium;
}
.final-price {
   color: red;
}

.ex-price {
    color: black;
    text-decoration: line-through;
    font-size: smaller;
}

/* header */
.header {
    background-color: var(--header);
    width: 100%;
    box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.1);}

.img-title {
    width: 150px;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}


/* main */

.item {
    width: calc(100% / 3 - 50px);
    padding-top: 50px;
    padding-bottom: 50px;
}

.ban{
    position: absolute;
    bottom: 80px;
}
.discount{
 
    left: 0;
    bottom: 40px;
    background-color: var(--discount);
    min-width: 50px;
    text-align: center;
    color: white;
    font-size: small;
    display: inline-block;
}

.sostenability{
   
    bottom: 40px;
    background-color: var(--sostenabilty);
    min-width: 100px;
    text-align: center;
    color: white;
    font-size: small;
    display: inline-block;
}

.hearts{
    background-color: white;
    width: 40px;
    position: absolute;
    right: 0;
    top: 20px;
    text-align: center;
    color: black;
}

.img {
    width: 100%;
}

.box-img {
    position: relative;
    top: 0;
}

.img-2 {
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    display: none;
}

.box-img:hover .img-2 {
    display: block;
}

/* Footer */

footer {
    background-color: var(--footer);
    color: white;
    height: 200px;

}

.flex-foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.pad {
    padding: 10px;
}