*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}
:root{
    /* Color styles */
--header: rgba(255, 105, 0, 1);
--footer: rgba(26, 26, 26, 1);
--sostenabilty: rgba(0, 128, 0, 1);
--discount: rgba(255, 0, 0, 1);
--bg-white: rgba(255, 255, 255, 1);
}
a:link {
    text-decoration: none;
    color: white;
}
  
  a:visited {
    text-decoration: none;
}
  
a:active {
    text-decoration: underline;
}
  a:hover {
    text-decoration: underline;
}
.debug{ 
    border: 1px solid black;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.flex-left{
    display: flex;
    flex-flow: row ;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* text */
h4{
    color: lightgray;
}
.discount{
    color: red;
}
.ex-price{
    color: lightgray;
}
/* header */
.header{
    background-color: var(--header);
    width: 100%;
}
.img-title{
    width: 150px;
    display: flex;
    align-items: center ;
}
.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}
.item{
    width: calc(100% / 3 - 50px);
    display: inline-block;
    padding: 50px;
}
/* main */
.img{
    width: 100%;

}
.box-img:hover .img-2{
position: relative;
display: block;

}
.img-2{
    position: absolute;
    display: none;
}
/* Footer */

footer{
    background-color: var(--footer);
    color: white;
    height: 200px;
   
}
.flex-foot{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    
}
.pad{
    padding: 10px;
}